name: appdynamics_agent
description: Flutter plugin to integrate AppDynamics Mobile Real User Monitoring with your app.
version: 23.2.0
homepage: https://github.com/Appdynamics/appdynamics_flutter_agent

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3
  dio: ^5.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  yaml: ^3.1.0

flutter:
  plugin:
    platforms:
      android:
        package: com.appdynamics.appdynamics_agent
        pluginClass: AppDynamicsAgentPlugin
      ios:
        pluginClass: SwiftAppDynamicsAgentPlugin

  assets:
    - packages/appdynamics_agent/version.txt
