<!--
  ~ Copyright (c) 2022. AppDynamics LLC and its affiliates.
  ~ All rights reserved.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdynamics.appdynamics_agent_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
